@charset "UTF-8";

/* Importação de fonts (google fonts) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Variáveis */
:root {
    --background: #0f0f0f;
    --branco: #fff;
    --amarelo: #e5b567;
    --azul: #9cdcfe;
    --azulEscuro: #05152b;
    --cinzaClaro: #d6d6d6;
    --cinza: #858585;
    --laranja: #e87d3e;
    --pink: #b05279;
    --roxo: #9e86c8;
    --verde: #b4d273;
    --vermelho: #ff0000;
    --marrom: #A0522D;
    --azulescuro: #00008B;
    --pretofosco: #696969;
    --pretisco: #1C1C1C;
}

/* CSS Reset (compatibilizar com todos navegadores) */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
html {
    scroll-behavior: smooth;
}


body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    /* 1em = 100% (tamanho padrão) */
    background-color: var(--branco);
}

.container {
    margin: 0 auto;
    /* centralizar o bloco */
    display: flex;
    justify-content: space-between;

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 700;
    background-color: var(--vermelho);
    width: 200px;
    padding: 10px 20px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}

/* Layout para 3 cartões */
.card {
    width: 338px;
    height: 520px;
    margin-top: 25px;
    background-color: var(--pretofosco);
    border: 3px solid var(--cinzaClaro);
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
}

.card h3 {
    margin-top: 15px;
}

.card p {
    text-align: left;
    padding: 10px 30px 50px 30px;
}

.card a {
    padding: 30px 100;
    border: 0;
    background-color: var(--cinzaClaro);
}

#topo {
    position: fixed;
    right: 10px;
    height: 10px;
}

.Flex5 {
    display: flex;
    flex-direction: column-reverse;
}

.Flex6 {
    display: flex;
    justify-content: space-around;
}


/* Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/****** Cabeçalho ******/
header {
    height: 75px;
    /* background-color: #00ffff;*/
}

#logo img {
    width: 60px;
    height: 60px;
    margin: 10px 0px 0px 10px;
}

#check {
    display: none;
}

/* Efeito "deslizar o menu" */
/* Se check estiver "ticado", crir um estilo para ul*/
#check:checked~ul {
    right: 0;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    /* transparência (0 a 1 (100%) */
    color: rgba(37, 33, 33, 0.9);
}

nav ul {
    list-style: none;
    background-color: rgba(206, 203, 203, 0.9);
    height: 100vh;
    position: fixed;
    top: 75px;
    right: -50%;
    width: 50%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--background);
    text-align: right;
}

nav ul li a {
    color: var(--background);
    /* remover sublinhado */
    text-decoration: none;
}

/****** Banner ******/
main {
    height: 95vh;
    /* ajuste da altura do Banner */
    background: url(img/grupo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    /* efeito de sombra nos textos */
    text-shadow: #000 0.05em 0.05em 0.05em;
}

main h1 {
    color: var(--branco);
    font-family: "Koulen", sans-serif;
    font-size: 2.0em;
}

main h2 {
    color: var(--branco);
    font-size: 1.5em;
    margin-top: 25px;
    font-weight: 800;
}

/******* Destaque *******/
#destaque {
    background: url(img/pexels-rdne-7414284.jpg);
    background-size: cover;
    background-position: center;
    /* espaçamento interno para não encostar na borda da tela do dispositivo */
    padding: 50px 15px;
}

/* Atenção!!! Organizando o container após o destaque o estilo é aplicado apenas ao container da seção de destaque */
#destaque .container {
    flex-direction: column;
    align-items: center;
}

/* Para esconder a imagem usamos "display: none" no container da imagem | Para exibir novamente em telas maiores, usamos "display: block" */
/*
#imagemDestaque {
    display: none;
}
*/
#imagemDestaque img {
    width: 200px;
    height: 200px;
    /* arredondar uma imagem quadrada */
    border-radius: 50%;
}

#textoDestaque {
    color: var(--branco);
}

#textoDestaque h2 {
    margin-bottom: 20px;
}

/* Atenção !!! Detalhe do sinal ">" ref. ao elemento imediato */
#textoDestaque>p {
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}

/****** Sobre ******/
/* O estilo abaixo será aplicado apenas ao container que está subordinado a section "sobre" */
#sobre .container {
    flex-direction: column;
}

#sobre {
    padding: 50px 15px;
    background-color: var(--pretisco);
}

#sobre p {
    color: var(--branco);
}

#sobre h2 {
    margin-bottom: 20px;
    text-shadow: #000 0.05em 0.05em 0.05em;
    color: var(--branco);
}

#video iframe {
    width: 340px;
    height: 191px;
    margin-top: 20px;
}

/****** Faixa de destaque ******/
#faixaDestaque {
    background: url(img/pexels-rdne-7414284.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}

#faixaDestaque .container {
    flex-direction: column;
}

#imagemFaixa img {
    width: 120px;
    height: 120px;
}

#textoFaixa h2 {
    color: var(--branco);
    margin-bottom: 15px;
}

#textoFaixa p {
    margin-bottom: 50px;
    color: var(--branco);
}

/******* Seção de conteúdo (cards) ********/
#conteudo {
    padding: 50px 0px;
    background-color: var(--pretisco);
}

#conteudo .container {
    flex-direction: column;
    align-items: center;
}

#conteudo h2 {
    color: var(--cinzaClaro);
    margin-bottom: 25px;
}

#todos {
    color: var(--cinzaClaro);
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* rodapé */
address {
    padding: 35px 10px 50px 10px;
    background: url(img/grunge-gray-concrete-textured-background.jpg);
    background-size: cover;
    background-position: center;
}

address a {
    text-decoration: none;
    color: #fff;
}

address img {
    padding-top: 15px;
}

#iconeLocal {
    display: none;
}

#dados {
    margin: 30px 0px 15px 0px;
}

#googleMaps {
    display: none;
    width: 250px;
    height: 350px;
}

footer {
    padding: 50px;
    background-color: #05152b;
    color: #fff;
    text-align: center;
    align-items: center;
}

#social {
    margin-bottom: 20px;
}

#lia {
    flex-direction: column;
    align-items: center;
}

.googleMaps iframe{
    display: none;
}


/* Fim | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {

    /****** Layout ******/
    .container {
        max-width: 540px;
        /* background-color: #ffff00;*/
    }

    /****** Cabeçalho ******/
    nav ul {
        right: -25%;
        width: 25%;
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }

    /****** destaque ******/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }

    /****** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}

/* Fim | Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /******* Layout ******/
    .container {
        max-width: 720px;
        /* background-color: #00ff00; */
    }

    /****** Banner ******/
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 4em;
    }

    /****** Destaque ******/
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }
}

/* Fim | Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /****** Layout ******/
    .container {
        max-width: 960px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 70vh;
    }
}

/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /****** Layout ******/
    .container {
        max-width: 1140px;
        /* background-color: #ff009d; */       
    }

    /****** Cabeçalho ******/
    header {
        height: 120px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        /* remover a cor do background */
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--background);
    }

    nav ul li a:hover {
        color: var(--cinzaClaro);
    }

    /****** Banner ******/
    main h1 {
        font-size: 3em;
    }

    main h2 {
        font-size: 2em;
    }

    /****** Destaque ******/
    #destaque {
        /* O código abaixo fixa o banner (efeito parallax) */
        background-attachment: fixed;
    }

    /******* Sobre ******/
    #sobre .container {
        flex-direction: row;
        align-items: center;
    }

    #video iframe {
        margin: 0;
    }

    /***** Faixa de destaque ******/
    #faixaDestaque {
        background-attachment: fixed;
        background-size: cover;
        padding: 50px 15px;
    }

    #faixaDestaque .container {
        flex-direction: row-reverse;
        align-items: center;
    }

    #imagemFaixa img {
        width: 300px;
        height: 300px;
    }

     /* Rodapé */
    #iconeLocal {
        display: inline;
    }

    #iconeMapa {
        display: none;
    }

    #googleMaps {
        display: inline;
    }
   
}
/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/* Telas Grandes (FullHD / 4K / SmartTV) >>>>>>>>>>>*/
@media (min-width: 1400px) {

    /****** Layout ******/
    .container {
        max-width: 1360px;
        /* background-color: #7d5b8c; */
    }

    /****** Banner ******/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    main h2 {
        font-size: 4em;
    }
}

/* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>>*/